ITEC.EBS.SoaSuite/BoletoItau/SOA/WSDLs/geradorBoletosItau.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="geradorBoletosItau"
     targetNamespace="http://xmlns.oracle.com/ITEC.EBS.ServiceBus/BoletoItau/geradorBoletosItau"
     xmlns:tns="http://xmlns.oracle.com/ITEC.EBS.ServiceBus/BoletoItau/geradorBoletosItau"
     xmlns:inp1="http://Edenred.Services/geradorBoletosItau_geradorBoletos_request"
     xmlns:inp2="http://Edenred.Services/geradorBoletosItau_geradorBoletos_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:inp3="http://Edenred.Services/geradorBoletosItau_geradorBoletos_validation_error"     
    >
    
    <plnk:partnerLinkType name="geradorBoletosItau">
        <plnk:role name="geradorBoletosItauProvider" portType="tns:geradorBoletosItau_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://Edenred.Services/geradorBoletosItau_geradorBoletos_request"
                 schemaLocation="../Schemas/request_geradorBoletos.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://Edenred.Services/geradorBoletosItau_geradorBoletos_response"
                 schemaLocation="../Schemas/response_geradorBoletos.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://Edenred.Services/geradorBoletosItau_geradorBoletos_validation_error"
                 schemaLocation="../Schemas/validation_error.xsd"/>
        </xsd:schema>
        
    </wsdl:types>
    <wsdl:message name="geradorBoletos_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="geradorBoletos_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="geradorBoletos_validation_tokenMessage">
        <wsdl:part name="fault_validation_token" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="geradorBoletos_validation_limit_requestMessage">
        <wsdl:part name="fault_validation_limit_request" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="geradorBoletos_validation_errorMessage">
        <wsdl:part name="fault_validation_error" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="geradorBoletos_validation_acessMessage">
        <wsdl:part name="fault_validation_acess" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="geradorBoletos_internal_server_errorMessage">
        <wsdl:part name="fault_internal_server_error" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="geradorBoletos_validation_requestMessage">
        <wsdl:part name="fault_validation_request" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="geradorBoletosItau_ptt">
        <wsdl:operation name="geradorBoletos">
            <wsdl:input message="tns:geradorBoletos_inputMessage"/>
            <wsdl:output message="tns:geradorBoletos_outputMessage"/>
            <wsdl:fault name="validation_token" message="tns:geradorBoletos_validation_tokenMessage"/>
            <wsdl:fault name="validation_limit_request" message="tns:geradorBoletos_validation_limit_requestMessage"/>
            <wsdl:fault name="validation_error" message="tns:geradorBoletos_validation_errorMessage"/>
            <wsdl:fault name="validation_request" message="tns:geradorBoletos_validation_requestMessage"/>
            <wsdl:fault name="validation_acess" message="tns:geradorBoletos_validation_acessMessage"/>
            <wsdl:fault name="internal_server_error" message="tns:geradorBoletos_internal_server_errorMessage"/>            
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="geradorBoletosItau_ptt-binding" type="tns:geradorBoletosItau_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="geradorBoletos">
            <soap:operation soapAction="geradorBoletos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
  <wsdl:service name="geradorBoletosItau_ptt-bindingQSService">
    <wsdl:documentation>OSB Service</wsdl:documentation>
    <wsdl:port binding="tns:geradorBoletosItau_ptt-binding" name="geradorBoletosItau_ptt-bindingQSPort">
      <soap:address location="http://localhost/Edenred.Services/Itau/GerarBoleto"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>