ITEC.EBS.SoaSuite/BoletoItau/SOA/Schemas/header.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://Edenred.Services/geradorBoletosItau_geradorBoletos_request"
            targetNamespace="http://Edenred.Services/geradorBoletosItau_geradorBoletos_request" elementFormDefault="qualified">
  <xsd:element name="Header">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Accept" type="xsd:integer"/>
        <xsd:element name="access_token" type="xsd:integer"/>
        <xsd:element name="itau-chave" type="xsd:integer"/>
        <xsd:element name="identificador" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
